<html>
    <head>
	<script
	    src="https://code.jquery.com/jquery-3.1.1.min.js"
	    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	    crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
	<div class="container">
	    <h1>Livres ({{livres|length}})</h1>

	    <form id="form-isbn">
		<input type="text" id="isbn" autocomplete="off">
	    </form>

	    <table class="table table-hover" id="result">
		<thead>
		    <tr>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Publication</th>
			<th>Année</th>
			<th>ISBN</th>
		    </tr>
		</thead>
		{% for livre in livres %}
		    <tr>
			<td>{{livre.title}}</td>
			<td>{{livre.author}}</td>
			<td>{{livre.publisher}}</td>
			<td>{{livre.year}}</td>
			<td>{{livre.isbn}}</td>
		    </tr>
		{% endfor %}
	    </table>
	</div>
	<script>
	  $( document ).ready(function() {
	      $( "#form-isbn" ).submit(function( event ) {
		  event.preventDefault();
		  isbn = $("#isbn").val();
		  $("#isbn").val('');
		  console.log(isbn);
		  $.ajax({
		      type: "GET",
		      dataType: 'jsonp',
		      url: 'http://xisbn.worldcat.org/webservices/xid/isbn/' + isbn,
		      data: {'bibkeys':'ISBN:' + isbn
			   , 'fl':'*'
			   , 'format':'json'
			   , 'method':'getMetadata'
			   , 'callback':'process'}
		  }).done(function(data) {
		      if(data.stat == 'invalidId') {
			  alert('Livre non trouvé');
		      } else {
			  console.log(data);
			  title = data.list[0].title;
			  author = data.list[0].author;
			  publisher = data.list[0].publisher;
			  year = data.list[0].year;

			  $.ajax({
			      type: "GET",
			      url: '/api/books/new/',
			      data: {'isbn':isbn
				   , 'author':author
				   , 'year':year
				   , 'publisher':publisher
				   , 'title':title }
			  }).done(function(data) {
			      console.log(data);
			  });

			  $('#result > tbody:last-child').append('<tr><td>' + title
							       + '<td>' + author + '</td>'
							       + '<td>' + publisher + '</td>'
			      				       + '<td>' + year + '</td>'
							       + '<td>' + isbn + '</td></tr>');
		      }
		  });
	      });
	  });
	</script>
    </body>
</html>
